body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.wrap {
  background-color: #E1D9E4;
  width: 100vw;
  height: 180vh;
  justify-content: center;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  width: 100vw;
  height: 2vw;
  text-align: center;
}

.user_preview {
  background-color: #917790;
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: 2.5%;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.user_preview_button {
  width: 30%;
  height: 25%;
  background-color: white;
  border: none;
  color: black;
  font-size: 15px;
  font-weight: normal;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}
