body {
  margin: 0;
  background-color: #E1D9E4;
  width: 100vw;
  height: 100vh;
  font-family: Roboto, sans-serif;
}

.wrap {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_details {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: white;
  border-left: solid 4px #917790;
}

.posts_show_button {
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 7vh;
  background-color: #917790;
  color: white;
  border: none;
  border-left: white 4px solid;
}

.posts_block {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 7vw;
  flex-wrap: wrap;
}

.user_post_preview {
  width: 19%;
  border-left: rgba(255,255,255, 0.4) 4px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

p a {
  color: black;
  text-decoration: none;
  width: 80%;
}

